.footerlogo{
    margin: 0px 0px 20px 0px;
    font-family: Shrikhand,"cursive";
    color: white;
    font-size: 20px;
}
.logoheader{
    font-family: Shrikhand,"cursive";
    color: black;
    font-size: 35px;
    margin: 0;
}
.footercolor{
    background-color: $color-footer;
    padding: 20px 0px 20px 0px;
}
.footertext{
    color: white;
}